fastapi==0.136.3
firebase_admin==7.1.0
getmac==0.9.5
gpiozero==2.0.1
gTTS==2.5.4
mediapipe==0.10.14
numpy==2.4.6
opencv_contrib_python==4.11.0.86
opencv_python==4.13.0.92
polars==1.40.1
protobuf==7.35.0
pydantic==2.13.4
pyfingerprint==1.5
pygame==2.6.1
pynmea2==1.19.0
pyserial==3.5
pytest==9.0.3
python-dotenv==1.2.2
pytz==2025.2
Requests==2.34.2
ultralytics==8.4.41
uvicorn==0.48.0